.forum {
    &-hero {
        width: 100%;
        min-height: 180px;
        position: relative;
        text-align: center;
        background-color: $gray-900;
        padding: 2rem 0;
        h1 {
            text-align: center;
            position: relative;
            color: $white;
            margin-top: 0px;
            margin-bottom: 0;
        }
        p {
            text-align: center;
            color: $gray-400;
            position: relative;
            z-index: 2;
            margin-bottom: 0px;
        }
    }
    &-header {
        background: $gray-900;
        width: 100%;
        min-height: 120px;
        display: flex;
        align-items: flex-end;
        &-container {
            @extend .container;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &-title {
            margin: 1rem 0;
            font-size: 1.5rem;
            color: $gray-100;
            font-weight: 400;
            flex-grow: 1;
            line-height: 1.45;
        }
        &-details {
            color: $gray-400;
            color: rgba(255, 255, 255, 0.85);
            font-size: 0.85rem;
            flex-shrink: 0;
            margin: 1rem 0 1rem 10px;
        }
        &-category {
            border-radius: 15px;
            color: $white;
            padding: 5px 10px;
            margin-left: 10px;
            text-decoration: none;
            &:hover,
            &:focus {
                color: $white;
            }
        }
        &-back-button {
            @extend .btn;
            line-height: 36px;
            font-size: 15px;
            margin-right: 10px;
            border-radius: 50%;
            padding: 0px;
            background: rgba($white, 0.4);
            width: 2rem;
            height: 2rem;
            flex-shrink: 0;
            margin-right: 0.5rem;
            mask-repeat: no-repeat;
            mask-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/></svg>');
            &:hover,
            &:focus {
                background: rgba($white, 0.7);
            }
        }
    }
    &-container {
        @extend .container;
        margin-top: 4rem;
        padding-bottom: 4rem;
    }
}

.forum-post-delete-alert {
    @extend .alert;
    @extend .alert-danger;
    display: none;
    &-icon {
        margin-right: 10px;
        flex-shrink: 0;
        width: 1.125rem;
        height: 1.125rem;
        background-color: $danger;
        mask-repeat: no-repeat;
        mask-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" class="bi bi-exclamation-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/></svg>');
    }
    &-message {
        margin-right: 10px;
        flex-grow: 1;
        align-items: center;
        display: flex;
    }
    &-cancel {
        @extend .btn;
        @extend .btn-sm;
        margin-left: 5px;
        flex-shrink: 0;
    }
    &-confirm {
        @extend .btn;
        @extend .btn-sm;
        @extend .btn-danger;
        margin-left: 5px;
        flex-shrink: 0;
    }
}

.forum-discussion-list {
    @extend .list-unstyled;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 1.5rem;
}
.forum-discussion {
    &-link {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem 0.5rem;
        transition: background 0.3s ease;
        border-top: 1px solid $gray-200;
        &:hover,
        &:focus {
            background-color: $gray-100;
        }
    }
    &-avatar {
        @extend .forum-avatar;
    }
    &-content {
        flex-grow: 1;
        &-title {
            margin: 0.25rem 0 0.15rem;
            color: $gray-900;
            font-size: 1.5rem;
            font-weight: bold;
        }
        &-category {
            @extend .badge;
            @extend .bg-info;
            border-radius: 0.25rem;
            font-size: 0.85rem;
            font-weight: bold;
            padding: 3px 7px;
            position: relative;
            top: -3px;
        }
        &-info {
            font-size: 1rem;
            color: $gray-700;
            margin-bottom: 0.75rem;
        }
        &-text {
            font-size: 1.25rem;
            color: $gray-500;
        }
    }
    &-count {
        flex-shrink: 0;
        color: $gray-500;
        align-self: flex-start;
        display: flex;
        align-items: center;
        &-icon {
            margin-right: 0.5rem;
        }
    }
}

.forum-post-list {
    @extend .list-unstyled;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 1.5rem;
}

.forum-post {
    border-top: 1px solid $gray-200;
    padding: 1rem 1rem 0.5rem;
    &-container {
        display: flex;
    }
    &-avatar {
        @extend .forum-avatar;
    }
    &-content {
        flex-grow: 1;
        &-form {
            display: none;
            &-cancel {
                @extend .btn;
                @extend .btn-light;
                margin-right: 0.5rem;
            }
            &-submit {
                @extend .btn;
                @extend .btn-success;
                display: flex;
                align-items: center;
                &-icon {
                    display: inline-block;
                    width: 1.125rem;
                    height: 1.125rem;
                    margin-right: 0.5rem;
                    background-color: $white;
                    mask-repeat: no-repeat;
                    mask-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>');
                }
            }
        }
        &-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.75rem;
            line-height: 1;
            &-container {
                margin-top: 0.25rem;
            }
            &-name {
                font-weight: bold;
                color: $gray-900;
                font-size: 1.25rem;
                margin-right: 0.5rem;
            }
            &-date {
                font-size: 1rem;
                color: $gray-500;
            }
        }
        &-files {
            border-radius: 5px;
            &-list {
                @extend .list-unstyled;
                margin-bottom: 1rem;
                display: flex;
                flex-wrap: wrap;
            }
            &-item {
                margin-bottom: 0;
                padding: 0;
                margin: 3px;
                font-size: 0.85rem;
                display: inline-block;
                &-link {
                    text-decoration: none;
                    background-color: $gray-100;
                    color: $gray-900;
                    display: inline-flex;
                    padding: 0.2rem;
                    &:hover,
                    &:focus {
                        background-color: $gray-200;
                        color: $gray-900;
                    }
                }
                &-icon {
                    margin-right: 0.25rem;
                    width: 0.85rem;
                    height: 0.85rem;
                    background-color: $green;
                    mask-repeat: no-repeat;
                    mask-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0H4zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"/></svg>');
                }
                &-name {
                    line-height: 1;
                }
            }
        }
        &-text {
            font-size: 1.25rem;
        }
    }
    &-actions {
        &-button {
            @extend .btn;
            @extend .btn-light;
            border-radius: 1rem;
            font-size: 0.85rem;
            padding: 0 0.5rem;
            margin-left: 0.3rem;
            text-transform: none;
            font-weight: normal;
            white-space: nowrap;
            display: inline-flex;
            align-items: center;
            &-icon {
                margin-right: 0.25rem;
                display: inline-block;
                width: 0.75rem;
                height: 0.75rem;
                background-color: $gray-500;
                mask-repeat: no-repeat;
            }
            &-pencil {
                mask-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/></svg>');
            }
            &-trash {
                mask-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/></svg>');
            }
        }
    }
    &.editing {
        .forum-post-content-wrapper {
            display: none;
        }
        .forum-post-content-form {
            display: block;
        }
    }
    &.deleting {
        .forum-post-actions {
            display: none;
        }
        .forum-post-delete-alert {
            display: flex;
        }
    }
}

.forum-actions {
    padding-top: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    &-button-submit {
        @extend .btn;
        @extend .btn-success;
        display: flex;
        align-items: center;
        &-icon {
            display: inline-block;
            width: 1.125rem;
            height: 1.125rem;
            margin-right: 0.5rem;
            background-color: $white;
            mask-repeat: no-repeat;
            mask-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/></svg>');
        }
    }
    &-notification {
        border-radius: 30px;
        width: auto;
        padding: 0 2rem;
        background: $gray-100;
        font-size: 0.85rem;
        margin: 0 10px 0 0;
        color: $gray-700;
        line-height: 2.125rem;
        & .custom-control-label:after,
        & .custom-control-label:before {
            margin-top: 5px;
        }
        &-loader {
            display: none;
            position: relative;
            top: 0;
            left: -24px;
            &.loading {
                display: block;
                float: left;
                top: 9px;
            }
        }
    }
}

.forum-avatar {
    border-radius: 50%;
    color: rgba($white, 1);
    display: inline-block;
    flex-shrink: 0;
    font-size: 1.5rem;
    height: 60px;
    line-height: 62px;
    margin-right: 1rem;
    text-align: center;
    width: 60px;
}

.forum-new-post {
    display: flex;
    padding: 1rem;
    &-avatar {
        @extend .forum-avatar;
    }
    &-editor {
        flex-grow: 1;
        margin-top: 0.5rem;
    }
}

.forum-sidebar {
    &-create-button {
        @extend .btn;
        @extend .btn-primary;
        margin-bottom: 2rem;
    }
    &-category-list {
        @extend .list-unstyled;
    }
    &-category-item {
        display: block;
        margin-bottom: 2px;
        &-all {
            margin-bottom: 1rem;
        }
        &-link {
            text-decoration: none;
            color: $gray-500;
            padding: 10px 0 10px 15px;
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            &.active,
            &:hover,
            &:focus {
                background-color: $gray-100;
                color: $gray-900;
            }
        }
        &-icon {
            width: 40px;
            text-align: center;
        }
        &-box {
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 2px;
            margin-right: 10px;
            margin: 0 auto;
        }
    }
}
